{% extends 'shared/_layout.html' %}
{% block content %}

<section>
    <div class="panel-group">
        <div class="block block--underline">
            <h1>Choose your image</h1>
        </div>
    </div>

    <div class="row">
        <div class="col form-group">
            <input id="input-image" name="input-image" type="file" accept="image/*">
        </div>
    </div>
    <div id="image-frame"></div>

    <br>
    <button id="process_btn" class="btn btn-primary btn-block d-none" type="button">Continue</button>
</section>

<script type="text/javascript" src="{{ url_for('static', filename='js/image_overlay.js') }}"></script>
{% endblock %}