<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Include stylesheet and javascript files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/spinKit.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/shared/jQuery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/shared/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/shared/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/shared/loader.js') }}"></script>
</head>

<body>
    <header>
        <!-- Flash Message -->
        <!-- {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {%  endwith %} -->
    </header>
    <div id="content-loader" class="container-fluid"
        style="max-width: 1000px; margin: auto; margin-top: 10mm; display:none">
        {% block content %}{% endblock %}
    </div>
    {% include 'shared/_loader.html' %}
</body>

</html>